
$roboto: 'Roboto', sans-serif;
$robotoSlab: 'Roboto Slab', serif;
$dark-grey-blue: #304268;
$dark-blue: #0271bc;
$ice-blue: #eff9ff;
$textWhite: white;
$textBlack: black;
$textGrey: #4a4a4a;
$textBlue: #8ccbea;
$orangeDeco: #f26002;




