<footer class="footer">
    <a class="footer-button" href="#hero"><img src="./assets/images/ico-arrow.svg" alt=""></a>
    <nav class="menu">
        <ul class="things">
            <li><a href=" https://adalab.es
                " target="blank" class="menu-items">articles</a></li>
            <li><a href=" https://adalab.es
                " target="blank" class="menu-items">books</a></li>
            <li><a href=" https://adalab.es
                " target="blank" class="menu-items">events</a></li>
            <li><a href=" https://adalab.es
                " target="blank" class="menu-items">reasons</a></li>
            <li><a href=" https://adalab.es
                " target="blank" class="menu-items">tips</a></li>
        </ul>
        <ul class="social">
            <li><a href=" https://adalab.es
                " target="blank" class="menu-items">twitter</a></li>
            <li><a href=" https://adalab.es
                " target="blank" class="menu-items">instagram</a></li>
            <li><a href=" https://adalab.es
                " target="blank" class="menu-items">mastodon.social</a></li>
        </ul>
        <small class="copy">©2021<br>we <span class="heart">❤︎</span> components</small>
    </nav>

</footer>