<section class="reasons" id="reasons">
    <div class="reasons__wrapper">

        <h2 class="reasons-title">3 reasons to purchase</h2>

        <div class="box1">
            <h3 class="box1__title">Ud sed metus</h3>
            <p class="box1__text">Lorem ipsum dolor sit,amet consectetur.</p>
        </div>

        <div class="box2">
            <h3 class="box2__title">Curabitur ac erat</h3>
            <p class="box2__text">Mauris mattis urna quis lorem molestie.</p>
        </div>

        <div class="box3">
            <h3 class="box3__title">Morbi dictum</h3>
            <p class="box3__text">Aliquam in dolor et dolor tincidunt.</p>
        </div>


        <a class="button" href="https://adalab.es" target="blank">
            More reasons</a>


    </div>
</section>