.house_search{
    margin: 25px;
}
.name_search{
    margin: 25px;
}
input{
    background-color: rgba(128, 128, 128, 0.418);
}

select{
    background-color: rgba(128, 128, 128, 0.171);
}