    <section id="about-us" class="container">
        <h2 class="quienes-somos" id="id-quienes-somos">Quiénes somos</h2>
        <!-- ----------LAURA CARBAJALES---------- -->
        <article class="presentacion">
          <img class="profile-pic" src="./assets/images/Adalabers/laura_image.jpg" alt="profile image" />
          <div class="presentacion__text--odd">
            <h4 class="my-name desc_odd">Laura Carbajales</h4>
            <p class="about-me desc_odd">
              Soy UX / UI designer y he decidido iniciarme en el mundo del Front-end. Me considero una persona alegre y
              positiva que intenta obtener un aprendizaje de todas las situaciones.
            </p>
            <ul class="social desc_odd">
              <li class="social__icon"><a class=social__icon--link href="https://twitter.com/Lau_1505"><i class="fab fa-twitter"></i></a>
              </li>
              <span class="dot"> · </span>
              <li class="social__icon"><a class=social__icon--link href="https://www.linkedin.com/in/lauracarbajales/"><i
                    class="fab fa-linkedin-in"></i></a></li>
              <span class="dot"> · </span>
              <li class="social__icon"><a class=social__icon--link href="https://github.com/Laura-Carbajales"><i class="fab fa-github-alt"></i></a>
              </li>
              <span class="dot"> · </span>
              <li class="social__icon"><a class=social__icon--link href="mailto:laura.carbajales@gmail.com"><i class="fas fa-envelope"></i></a></li>
            </ul>
          </div>
        </article>
        <!-- ----------VICTORIA BLANC RASTOLL---------- -->
        <article class="presentacion">
          <img class="profile-pic" src="./assets/images/Adalabers/victoria_img.jpg" alt="profile image" />
          <div class="presentacion__text--even">
          <h4 class="my-name desc_even" >Victoria Blanc Rastoll</h4>
          <p class="about-me desc_even">
            Soy Maestra de Educación Infantil y le quiero dar un giro completo a mi vida, iniciándome en el mundo del
            front-end y abierta a nuevos aprendizajes.
            Soy una persona abierta al cambio, me considero creativa en algunos ámbitos y sobre todo, tengo muchas ganas
            de aprender.
          </p>
          <ul class="social desc_even">
            <li class="social__icon"><a class="social__icon--link" href="https://twitter.com/BlancRastoll/"><i class="fab fa-twitter"></i></li>
            <span class="dot"> · </span>
            <li class="social__icon"><a class="social__icon--link" href="www.linkedin.com/in/victoria-blanc"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <span class="dot"> · </span>
            <li class="social__icon"><a class="social__icon--link" href="https://github.com/vicblanc92"><i class="fab fa-github-alt"></i></a></li>
            <span class="dot"> · </span>
            <li class="social__icon"><a class="social__icon--link" href="mailto:vicbr92@gmail.com"><i class="fas fa-envelope"></i></a></li>
          </ul>
        </div>
        </article>
        <!-- ----------ICO LIZHEN PRIETO---------- -->
        <article class="presentacion">
          <img class="profile-pic" src="./assets/images/Adalabers/ico_image.jpg" alt="profile image" />
          <div class="presentacion__text--odd">
          <h4 class="my-name desc_odd">Ico Lizhen Prieto</h4>
          <p class="about-me desc_odd">
            Diseñadora e ilustradora con ganas de dar vida a mis productos digitales mediante código. En mi tiempo libre
            me gusta estudiar idiomas, leer y escribir, ¡mi sueño es publicar un libro algún día!
          </p>
          <ul class="social desc_odd">
            <li class="social__icon"><a class="social__icon--link" href="#"><i class="fab fa-twitter"></i></a></li>
            <span class="dot"> · </span>
            <li class="social__icon"><a class="social__icon--link" href="https://es.linkedin.com/in/icolizhen"><i class="fab fa-linkedin-in"></i></a></li>
            <span class="dot"> · </span>
            <li class="social__icon"><a class="social__icon--link" href="https://github.com/icoliz"><i class="fab fa-github-alt"></i></a></li>
                  <span class="dot"> · </span>
            <li class="social__icon"><a class="social__icon--link" href="mailto:icolizhen@gmail.com"><i class="fas fa-envelope"></i></a></li>
          </ul>
          </div>
        </article>
        <!-- ----------MARÍA RAMÍREZ---------- -->
        <article class="presentacion">
          <img class="profile-pic" src="./assets/images/Adalabers/maria-img.jpg" alt="profile image" />
          <div class="presentacion__text--even">
          <h4 class="my-name desc_even">María Ramírez</h4>
          <p class="about-me desc_even">
            De la filología a la programación sólo hay un paso, ¡el que acabo de dar! Me encantan las lenguas y lenguajes
            y espero que este no se me resista. Soy una persona creativa y curiosa y espero disfrutar de este nuevo camino
            profesional.
          </p>
          <ul class="social desc_even">
            <li class="social__icon"><a class="social__icon--link" href="#"><i class="fab fa-twitter"></i></a></li>
            <span class="dot"> · </span>
            <li class="social__icon"><a class="social__icon--link" href="linkedin.com/in/mariaramirezgarciaelearning"><i
                  class="fab fa-linkedin-in"></i></a></li>
            <span class="dot"> · </span>
            <li class="social__icon"><a class="social__icon--link" href="https://github.com/Mariamafalda2021"><i class="fab fa-github-alt"></i></a>
            </li>
            <span class="dot"> · </span>
            <li class="social__icon"><a class="social__icon--link" href="#"><i class="fas fa-envelope"></i></a></li>
          </ul>
          </div>
        </article>
        <!-- ----------MARTA RUBIO---------- -->
        <article class="presentacion">
          <img class="profile-pic" src="./assets/images/Adalabers/foto.png" alt="profile image" />
          <div class="presentacion__text--odd">
          <h4 class="my-name desc_odd">Marta Rubio</h4>
          <p class="about-me desc_odd">
            ¡Del turismo a la programación! Con muchas ganas de seguir aprendiendo y descubriendo este nuevo mundo.
          </p>
          <ul class="social desc_odd">
            <li class="social__icon"><a class="social__icon--link" href="https://twitter.com/Martirubio9"><i class="fab fa-twitter"></i></a></li>
            <span class="dot"> · </span>
            <li class="social__icon"><a class="social__icon--link"
                href="https://www.linkedin.com/in/marta-rubio-d%C3%ADaz-983848131/?originalSubdomain=uk"><i
                  class="fab fa-linkedin-in"></i></a></li>
            <span class="dot"> · </span>
            <li class="social__icon"><a class="social__icon--link" href="https://github.com/martarubio93"><i class="fab fa-github-alt"></i></a></li>
            <span class="dot"> · </span>
            <li class="social__icon"><a class="social__icon--link" href="#"><i class="fas fa-envelope"></i></a></li>
          </ul>
          </div>
        </article>
      </section>